In [1]:
#Loop
# While Loop

episode = eval(input ("How many episode of the film? "))

while episode > 0:
  print("play next one");
  episode = episode-1
else:
  print("Here 3 more titles");

How many episode of the film? 0
Here 3 more titles

In [ ]:
where = input("You're in the Lost Forest. Go left or right? ")
while where == "right":
  where = input("You're in the Lost Forest. Go left or right? ")
print("You go out of the Lost Forest!")

In [ ]:
n = int(input("Enter a non-negative integer: "))
while n>0:
  print('x')
  n = n-1

Enter a non-negative integer: 7
x
x
x
x
x
x
x

In [ ]:
where = input("Go left or right? ")
while where == "right":
  where = input("Go left or right? ")
print("You go out!")

In [ ]:
n = 0
while n < 5:
  print(n)
  n = n+1

In [ ]:
# factorial

x = 4
i = 1
factorial = 1
while i <= x:
  factorial *=i
  i +=1
print(f'{x} factorial is {factorial}')

4 factorial is 24

In [ ]:
# While Loop
n = 0
while n < 5:
  print(n)
  n = n+1

# For Loop
for n in range(5):
  print(n)

0
1
2
3
4
0
1
2
3
4

In [ ]:
for i in range (1,4,1):
  print(i)

for j in range (1,4,2):
  print(j*2)

for me in range(4,0,-1):
  print("$"*me)

1
2
3
2
6
$$$$
$$$
$$
$

In [ ]:
#running sum
mysum = 0
for i in range(10):
  mysum += i
print(mysum)

45

In [ ]:
mysum = 0
start = 3
end = 5
for i in range(start,end):
  mysum += i
print(mysum)

7

In [ ]:
x = 4
i = 1
factorial = 1
while i <= x:
  factorial *= i
  i += 1
print(f'{x} factorial is {factorial}')

x = 4
factorial = 1
for i in range(1, x+1, 1):
  factorial *= i
print(f'{x} factorial is {factorial}')