In [2]:
# string dengan single quote
string1 = 'Pemrograman Python'

# string dengan double quote
string1 = "Pemrograman Python"

In [5]:
# akses string karakter
# 1. indexing
greet = 'halo'
print(greet[0])

# 2. negative indexing
greet = "halo"
print(greet[-1])

# 3. sllicing
greet = "halo"
print(greet[1:4])

h
o
alo

In [7]:
# python string immutable
msg = "halo John"
# msg[0] = "H"
print(msg)

halo John

In [9]:
# multiline string
msg = '''saya senang belajar
bahasa pemrograman python
'''
print(msg)

saya senang belajar
bahasa pemrograman python

In [10]:
# compare 2 string
str1 = "Halo Dunia"
str2 = "Saya senang belajar Python"
str3 = "Halo Dunia"

print(str1 == str2)
print(str1 == str3)

False
True

In [13]:
greet = "Halo "
name = "Joni"
result = greet + name
print(result)

Halo Joni

In [19]:
greet = 'halo'

# iterasi pada string
for letter in greet:
  print(letter)

h
a
l
o

In [18]:
# string length
kalimat = "Pemrograman Python"
print(len(kalimat))

18

In [20]:
# string membership
kalimat = "Saya senang belajar bahasa pemrograman Python"
print('senang' in kalimat)

True

In [34]:
# String Format
age = 20
txt = "My name is John, I am "+ str(age)
print(txt)

My name is John, I am 20

In [35]:
# F-string (Formatting string)
age = 20
txt = f"My name is John, I am {str(age)}"
print(txt)

My name is John, I am 20

In [22]:
example = "He said, \"What's there?\""
print(example)

He said, "What's there?"

In [29]:
# Modify string

a = " Hello, World! "
print(a.upper()) # Upper Case
print(a.lower()) # Lower Case
print(a.strip()) # Remove Whitespace
print(a.replace("H","J")) # Replace String
print(a.split(",")) # Split String

 HELLO, WORLD!
 hello, world!
Hello, World!
 Jello, World!
[' Hello', ' World! ']

In [38]:
# String Methods

text = "The quick brown fox"
print("Found 'quick' at index:", text.find("quick"))
print("Replaced 'brown' with 'red':", text.replace("brown", "red"))
print("Starts with 'The':", text.startswith("The"))
print("Ends with 'fox':", text.endswith("fox"))

Found 'quick' at index: 4
Replaced 'brown' with 'red': The quick red fox
Starts with 'The': True
Ends with 'fox': True